<div class="row">
  <div class="col-md-7 col-md-offset-1">
    <div class="main">
      <h1> Bog Creatures from theIsle &nbsp; of &nbsp;Skye</h1>
      <div class="about">

        <h2>In Isolation, Magic is Borne</h2>
        <p>For many hundreds of years, the Isle of Skye was isolated from the rest of Scotland. Settled by both Celts and Norse, and  the Picts before them. Life moved at a slower pace in Skye, and due to it's isolation, Skye became a Viking hot spot. Legend holds that The Fay, the Brownies, and Giants all called the Isle of Skye home.</p>

        <h2>An homage to the Fairy Pools of Skye</h2>

        <p>The Fairy pools are a series of waterfalls. The pools are crystal clear and surrounded by large rocky cliff walls, waterfalls, and lush foliage. Check out our collection of creatures, or add your own to our database.</p>

        <h2>Creature Tag Cloud</h2>

        <div>
        <% tag_max = @tags.map{|t| t.creatures.length}.sort.last %>
          <% @tags.each do |tag| %>
          <% fontsize = (tag.creatures.length.to_f / tag_max) * 19 %>
          <%= button_to tag.name, creaturetag_path(tag.name), method: :get, :class => "tagcloud btn", :style => "font-size: #{fontsize.to_i+3}px" %>
          <% end %>
        </div>

      </div>

    </div><!-- end of column -->
  </div><!-- end of row -->
</div><!-- end of main-->